@model ProjetoPim.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Usuário</h2>

<div>
    <h4>Detalhado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Telefone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="AtribuirNivel2" asp-route-id="@Model.Id">Atribuir Nivel 2</a>
    <a class="btn btn-success" asp-action="AtribuirNivel3" asp-route-id="@Model.Id">Atribuir Nivel 3</a>
</div>
<h2></h2>
<div>
    <a class="btn btn-default" asp-action="Consultar">Sair</a>
    <a class="btn btn-danger" asp-action="UserDelete" asp-route-id="@Model.Id">Deletar</a>
</div>

