@model IEnumerable<ProjetoPim.Models.ApplicationUser>


@{
    ViewData["Title"] = "Usuários";
}

<script src="~/js/jquery-2.2.4.min.js"></script>
<script src="~/js/jquery.tablesorter.js"></script>


<h2>Usuários</h2>

<p>
    <a asp-action="RegisterAdmin">Cadastrar</a>
</p>


<table id="myTable" class=" table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Detalhar</a> 
                <a class="btn btn-danger" asp-action="UserDelete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(".tablesorter").tablesorter();
</script>

