@model IEnumerable<ProjetoPim.Models.Chamado>


@{
    ViewData["Title"] = "Chamados";
}

<script src="~/js/jquery-2.2.4.min.js"></script>
<script src="~/js/jquery.tablesorter.js"></script>


<h2>Chamados</h2>

<p>
</p>
<table id="myTable" class=" table tablesorter">
    <thead>
        <tr>
            <th>
                Nº
            </th>
            <th>
                Data
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Autor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nome)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="DetailsAtend" asp-route-id="@item.Id">Atender</a> |
                    <a class="btn btn-default" asp-action="Details2" asp-route-id="@item.Id">Detalhar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-default" asp-action="Pendentes">Sair</a>
</div>
<script type="text/javascript">
    $(".tablesorter").tablesorter();
</script>
